*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.corpo{
    background-color: rgb(82, 160, 82);
}

body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.tamanho{
    width: 100vh;
}

.container{
    background-color: rgb(14, 98, 14);
    border-radius: 20px;
    height: 500px;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imge a{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

img{
    width: 80%;
    height: 80%;
}

form{
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 100%;
    width: 90%;
}

div.lar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 60%;
}

.form-group{
    padding-top: 10px;
}

.butao{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.butao button {
    border: none;
    border-radius: 5px;
    background-color: greenyellow;
    padding: 0.4rem 1rem;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    flex-direction: row;
}

.butao button:hover{
    background-color: darkgreen;
}

.log{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

@media (max-width: 730px)
{
    div.imge{
    display: none;
}   
    div.lar{
    width: 100%;
}
}
